# ******************** 阿里云OSS （不使用阿里云OSS时忽略这部分配置） ********************
# 阿里云OSS ACCESS_KEY
# 必填
OSS_ACCESS_KEY_ID="your-oss-access-key-id"

# 必填
# 阿里云OSS ACCESS_KEY_SECRET
OSS_ACCESS_KEY_SECRET="your-oss-access-key-secret"

# 进入某个bucket后的浏览器的地址：https://oss.console.aliyun.com/bucket/oss-cn-shanghai/aifuxi/object
# 可以从url里看到是哪个区域和bucket
# 阿里云OSS REGION 这个不能随便写，有具体的值，看自己的oss是在哪个区域
# 必填
OSS_REGION="oss-cn-shanghai"

# 阿里云OSS BUCKET
# 必填
OSS_BUCKET="your-bucket"

# 阿里云OSS 上传文件后所在目录
# 必填
OSS_UPLOAD_DIR="your-upload-dir"
# ******************** 阿里云OSS END ********************

# ******************** prisma ********************
# 必填
DATABASE_URL="mysql://root:123456@127.0.0.1:3306/fuxiaochen"
# ******************** prisma END ********************

# ******************** 网站 ********************
# 网站的预览地址（根据实际情况设置），站点地图的生成也是用这个当做域名前缀
# 必填
SITE_URL="http://localhost:3030"
# ******************** 网站 END********************

# ******************** next-auth ********************
# 必填
AUTH_GITHUB_ID="your-github-id"

# 必填
AUTH_GITHUB_SECRET="your-github-secret"

# 必填
AUTH_SECRET="your-next-auth-secret"
# ******************** next-auth END ********************

# ******************** ADMIN ********************
# ADMIN 邮箱列表，多个邮箱用英文逗号分隔开（不要加空格）
# 因为这个变量客户端也可能访问，所以必须以NEXT_PUBLIC_开头
# 必填
NEXT_PUBLIC_ADMIN_EMAILS="aifuxi.js@gmail.com"
# ******************** ADMIN END ********************

# ******************** umami配置（不使用umami时忽略这部分配置） ********************
# umami js 文件地址
NEXT_PUBLIC_UMAMI_URL="umami-js-src"
# umami 需要统计的website id
NEXT_PUBLIC_UMAMI_WEBSIT_ID="umami-website-id"
# ******************** umami配置 END ********************
