.ds-color-input {
  flex: none;
  width: var(--control-form);
  height: var(--control-form);
  padding: 10px;
}
.ds-color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}
.ds-color-input::-webkit-color-swatch {
  border: 0;
  border-radius: 4px;
}
.ds-color-input::-moz-color-swatch {
  border: 0;
  border-radius: 4px;
}
