.bytemd {
  @apply h-[50vh] font-sans;
}

.bytemd .CodeMirror {
  @apply font-sans;
}

.bytemd code .bytemd kbd {
  @apply font-mono!;
}

.bytemd-fullscreen {
  @apply z-10! h-screen!;
}

.medium-zoom-image--opened {
  @apply z-30;
}

.medium-zoom-overlay {
  @apply bg-semi-bg-0! z-20;
}

/* 编辑器内标题样式 */
.cm-header {
  @apply text-[#005cc5]! dark:text-[#79b8ff]!;
}

/* 编辑器内列表项样式 */
.cm-variable-2 {
  @apply text-[#24292e]! dark:text-[#e1e4e8]!;
}

/* 编辑器内代码块样式 */
.cm-comment {
  @apply text-[#032f62]! dark:text-[#9ecbff]!;
}

/* 编辑器内引用样式 */
.cm-quote {
  @apply text-[#22863a]! dark:text-[#85e89d]!;
}

/* 编辑器内链接样式 */
.cm-link {
  @apply text-[#22863a]! dark:text-[#85e89d]!;
}

/* 编辑器内图片链接样式 */
.cm-string {
  @apply break-all! text-[#24292e]! dark:text-[#e1e4e8]!;
}

/* 编辑器内光标颜色 */
.CodeMirror-cursor {
  @apply border-l-2! border-l-[#204085]! dark:border-l-[#cee0fd]!;
}

/* 编辑器内显示行数 */
.CodeMirror-linenumber {
  @apply text-semi-text-0!;
}

/* 编辑器内显示行数背景 */
.CodeMirror-gutters {
  @apply border-r-semi-border! bg-semi-bg-0!;
}

/* 下面代码的灵感来自这个 Issue: https://github.com/pd4d10/hashmd/issues/40 */
/* ByteMD editor overrides	*/
.bytemd {
  @apply border-semi-border! bg-semi-bg-0! text-semi-text-0! rounded-semi-small!;
}

.bytemd-toolbar {
  @apply border-semi-border! bg-semi-bg-0! rounded-t-semi-small! py-4;
}

.CodeMirror {
  @apply bg-semi-bg-0! text-semi-text-0!;
}

.bytemd-split .bytemd-preview {
  @apply border-l-semi-border!;
}

.bytemd-status {
  @apply border-t-semi-border! border-none;
}

.bytemd-toolbar-icon {
  @apply hover:bg-semi-bg-2! transition-all duration-100;
}
