@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans_Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HarmonyOS Sans";
  src: url("/fonts/HarmonyOS_Sans_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
