# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

# Makefile 里面缩进必须使用tab且大小必须为4个空格 
[Makefile]
indent_style = tab
indent_size = 4