#aifuxi-content-editor .bytemd {
  height: 80vh;
}

#aifuxi-content-editor .bytemd-fullscreen {
  height: 100vh;
  z-index: 10;
}

.markdown-body {
  @apply prose max-w-none dark:prose-invert;
}

.medium-zoom-image--opened {
  z-index: 10;
}

pre > code[class*='language-'] {
  position: relative;
}

pre > code[class*='language-']::before {
  position: absolute;
  content: attr(data-language);
  top: -0.3em;
  left: 0em;
}
