#aifuxi-content-editor .bytemd {
  height: 80vh;
}

#aifuxi-content-editor .bytemd-fullscreen {
  height: 100vh;
  z-index: 10;
}

.markdown-body {
  @apply prose max-w-none dark:prose-invert;
}

.medium-zoom-image--opened {
  z-index: 10;
}
