.bytemd {
  @apply !min-h-screen;
}

.bytemd .CodeMirror,
.bytemd code,
.bytemd kbd {
  @apply !font-mono;
}

.bytemd-fullscreen {
  @apply !z-10 !h-screen;
}

.markdown-body {
  @apply prose max-w-[calc(100vw-2rem)] dark:prose-invert md:!mx-auto md:max-w-2xl lg:max-w-3xl 2xl:max-w-4xl;
}

.medium-zoom-image--opened {
  @apply z-20;
}

.medium-zoom-overlay {
  @apply z-20 !bg-background;
}

.markdown-body pre {
  @apply relative !my-0 !rounded-none !bg-muted !p-0 text-primary;
}
.markdown-body pre > code {
  @apply mt-10;
}

.markdown-body pre > .copy-code-button {
  @apply absolute right-4 top-0 z-[1] flex h-[40px] cursor-pointer items-center text-lg opacity-0 transition-opacity ease-in-out;
}

.markdown-body pre:hover > .copy-code-button {
  @apply opacity-100;
}

.markdown-body pre::after {
  content: attr(data-language);
  @apply absolute  inset-x-0 top-0 border-b border-b-muted-foreground/20 px-4 py-2 text-primary;
}

.markdown-body iframe {
  @apply aspect-video w-full;
}

.markdown-body .markdown-anchor {
  float: left;
  margin-left: 0.2em;
  opacity: 0;
  transition: opacity ease-out 150ms;
  order: 2;
}

.markdown-body :where(h1, h2, h3, h4) {
  @apply flex scroll-mt-20 items-center break-all;
}

.markdown-body :where(h1, h2, h3, h4):hover .markdown-anchor {
  opacity: 1;
}

/* 编辑器内标题样式 */
.cm-header {
  @apply !text-pink-500 dark:!text-pink-600;
}

/* 编辑器内列表项样式 */
.cm-variable-2 {
  @apply !text-cyan-500 dark:!text-cyan-600;
}

/* 编辑器内代码块样式 */
.cm-comment {
  @apply !text-orange-500 dark:!text-orange-600;
}

/* 编辑器内代码块样式 */
.cm-quote {
  @apply !text-green-500 dark:!text-green-600;
}

/* 编辑器内链接样式 */
.cm-link {
  @apply !text-blue-500 dark:!text-blue-600;
}

/* 编辑器内图片链接样式 */
.cm-string {
  @apply !text-rose-500 dark:!text-rose-600;
}

/* 编辑器内光标颜色 */
.CodeMirror-cursor {
  @apply !border-l-2 !border-l-foreground;
}

/* 编辑器内显示行数 */
.CodeMirror-linenumber {
  @apply !text-foreground;
}

/* 编辑器内显示行数背景 */
.CodeMirror-gutters {
  @apply !border-r-muted !bg-background;
}

/* 下面代码的灵感来自这个Issue: https://github.com/pd4d10/hashmd/issues/40 */
/* ByteMD editor overrides	*/
.bytemd {
  @apply !rounded-none !border-border !bg-background !text-foreground;
}

.bytemd-toolbar {
  @apply !rounded-none !border-border !bg-background;
}

.CodeMirror {
  @apply !bg-background !text-foreground;
}

.bytemd-split .bytemd-preview {
  @apply !border-l-border;
}

.bytemd-status {
  @apply !border-t-border;
}

.bytemd-toolbar-icon {
  @apply transition-all duration-100 hover:!bg-accent;
}
