/* 创建、编辑笔记的编辑器高度 */
#note-editor .bytemd {
  @apply h-[60vh] min-h-[560px];
}

/* 创建、编辑博客、片段的编辑器高度 */
#content-editor .bytemd {
  @apply h-screen;
}

/* 编辑器编辑区域的最大宽度 */
.bytemd-editor .CodeMirror .CodeMirror-lines {
  @apply !max-w-[80vw];
}

.bytemd .CodeMirror,
.bytemd code,
.bytemd kbd {
  @apply !font-mono;
}

.bytemd-fullscreen {
  @apply !z-10 !h-screen;
}

.markdown-body {
  @apply prose prose-neutral !w-full !max-w-full dark:prose-invert;
}

.markdown-body a {
  @apply mx-1 inline-flex items-center gap-1 !no-underline;
}

.medium-zoom-image--opened {
  @apply z-30;
}

.medium-zoom-overlay {
  @apply z-20 !bg-background;
}

.markdown-body pre {
  @apply relative !my-0 whitespace-break-spaces !rounded-xl border !bg-background/50 text-primary;
}

.markdown-body code::-webkit-scrollbar {
  @apply h-1.5 w-1.5;
}

.markdown-body code::-webkit-scrollbar-thumb {
  background: hsl(var(--foreground) / 0.2);

  /* 滚动条圆角 需要同时设置 background-clip: padding-box;和border-radius */
  background-clip: padding-box;
  border-radius: 10px;
}

.markdown-body p code {
  @apply mx-2;
}

.markdown-body pre {
  @apply relative !my-0 !rounded-lg !p-0 text-primary;
}

.markdown-body pre > code {
  @apply mx-2 mt-14 !whitespace-pre-wrap !break-words text-base;
}

.markdown-body pre > .copy-code-button {
  @apply absolute right-4 top-0 z-[1] flex h-[40px] cursor-pointer items-center text-lg transition-opacity ease-in-out;
}

.markdown-body pre::after {
  content: attr(data-language);
  @apply absolute  inset-x-0 top-0 border-b border-b-muted-foreground/20 px-4 py-2 text-primary;
}

.markdown-body iframe {
  @apply aspect-video w-full;
}

.markdown-body :where(h2, h3, h4, h5, h6) {
  @apply flex scroll-mt-20 items-center;
}

.markdown-body :where(h2, h3, h4, h5, h6):hover .markdown-anchor {
  @apply opacity-100;
}

.markdown-body :where(h2, h3, h4, h5, h6) .markdown-anchor {
  @apply order-2 opacity-0 transition-opacity;
}

.markdown-body img {
  @apply mx-auto max-h-[40vh] rounded-lg border p-4;
}

/* 修复存在表格时，表格宽度溢出的问题 */
.markdown-body table thead th {
  @apply break-all;
}

/* 编辑器内标题样式 */
.cm-header {
  @apply !text-[#005cc5] dark:!text-[#79b8ff];
}

/* 编辑器内列表项样式 */
.cm-variable-2 {
  @apply !text-[#24292e] dark:!text-[#e1e4e8];
}

/* 编辑器内代码块样式 */
.cm-comment {
  @apply !text-[#032f62] dark:!text-[#9ecbff];
}

/* 编辑器内引用样式 */
.cm-quote {
  @apply !text-[#22863a] dark:!text-[#85e89d];
}

/* 编辑器内链接样式 */
.cm-link {
  @apply !text-[#22863a] dark:!text-[#85e89d];
}

/* 编辑器内图片链接样式 */
.cm-string {
  @apply !break-all !text-[#24292e] dark:!text-[#e1e4e8];
}

/* 编辑器内光标颜色 */
.CodeMirror-cursor {
  @apply !border-l-2 !border-l-[#204085] dark:!border-l-[#cee0fd];
}

/* 编辑器内显示行数 */
.CodeMirror-linenumber {
  @apply !text-foreground;
}

/* 编辑器内显示行数背景 */
.CodeMirror-gutters {
  @apply !border-r-muted !bg-background;
}

/* 下面代码的灵感来自这个Issue: https://github.com/pd4d10/hashmd/issues/40 */
/* ByteMD editor overrides	*/
.bytemd {
  @apply !rounded-xl !border-border !bg-background !text-foreground;
}

.bytemd-toolbar {
  @apply !rounded-none !border-border !bg-background;
}

.CodeMirror {
  @apply !bg-background !text-foreground;
}

.bytemd-split .bytemd-preview {
  @apply !border-l-border;
}

.bytemd-status {
  @apply !border-t-border;
}

.bytemd-toolbar-icon {
  @apply transition-all duration-100 hover:!bg-accent;
}
