@font-face {
  font-weight: 400;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Poppins';
  font-style: normal;
  src: url('/fonts/Poppins/Poppins-Black.woff2') format('woff2');
  font-display: swap;
}

/* Italic */
@font-face {
  font-weight: 400;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Poppins';
  font-style: italic;
  src: url('/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2');
  font-display: swap;
}
