// ***********Chrome自定义滚动条样式 start******************
// 滚动条的那个背景
*::-webkit-scrollbar-track {
  background-color: transparent;
}

// 滚动条整体
*::-webkit-scrollbar {
  // 竖向滚动跳的宽度
  width: 6px;
  // 横向滚动条的高度
  height: 6px;
  // 滚动条整体背景
  background-color: transparent;
}

// 滚动条的滑块
*::-webkit-scrollbar-thumb {
  background-color: #c9c6c6;
}
// ***********Chrome自定义滚动条样式 end******************

// ***********Firefox自定义滚动条样式 start******************
* {
  // 下面两个属性只有Firefox支持
  scrollbar-width: thin;
}
// ***********Firefox自定义滚动条样式 end******************
