/* 自动生成目录插件后，自定义目录样式 */

/* 隐藏目录列表项前面的样式 */
.markdown-body > .toc :where(ol):not(:where([class~='not-prose'] *)) {
  list-style-type: none;
}

nav.toc {
  @apply text-xs font-medium text-muted-foreground;
}

nav.toc .toc-link {
  @apply line-clamp-1 h-7 text-ellipsis break-all leading-7 transition-colors hover:text-primary;
}

nav.toc .toc-link-active {
  @apply text-primary;
}

nav.toc ol.toc-level {
  @apply pl-4;
}

.markdown-body {
  counter-reset: section;
}

.markdown-body h2 {
  counter-reset: subsection;
}

.markdown-body h2::before {
  counter-increment: section;
  /* prettier-ignore */
  content: counter(section)'.';
  margin-right: 0.4em;
}

.markdown-body h3 {
  counter-reset: subsection2;
}

.markdown-body h3::before {
  counter-increment: subsection;
  /* prettier-ignore */
  content: counter(section)'.'counter(subsection);
  margin-right: 0.4em;
}

.markdown-body h4::before {
  counter-increment: subsection2;
  /* prettier-ignore */
  content: counter(section)'.'counter(subsection)'.'counter(subsection2);
  margin-right: 0.4em;
}

nav.toc {
  counter-reset: toc-section;
}

.toc-link-h2 {
  counter-reset: toc-subsection;
}

.toc-link-h2::before {
  counter-increment: toc-section;
  /* prettier-ignore */
  content: counter(toc-section)'.';
  margin-right: 0.4em;
}

.toc-link-h3 {
  counter-reset: toc-subsection2;
}

.toc-link-h3::before {
  counter-increment: toc-subsection;
  /* prettier-ignore */
  content: counter(toc-section)'.'counter(toc-subsection);
  margin-right: 0.4em;
}

.toc-link-h4::before {
  counter-increment: toc-subsection2;
  /* prettier-ignore */
  content: counter(toc-section)'.'counter(toc-subsection)'.'counter(toc-subsection2);
  margin-right: 0.4em;
}
