@font-face {
  font-weight: 400;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Tomorrow';
  font-style: normal;
  src: url('/fonts/Tomorrow/Tomorrow-Black.woff2') format('woff2');
  font-display: swap;
}

/* Italic */
@font-face {
  font-weight: 400;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-MediumItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: 'Tomorrow';
  font-style: italic;
  src: url('/fonts/Tomorrow/Tomorrow-BlackItalic.woff2') format('woff2');
  font-display: swap;
}
